/**********************************/
/************* GENERAL ************/
/**********************************/

form {
    width: 950px;
    margin: 0px auto 40px auto;
}

/* form sections */
form fieldset {
    margin-top: 20px;
    border: 2px solid var(--gray0);
    background-color: var(--gray);
    border-radius: 10px;
    padding: 13px;
}
form fieldset > legend {
    margin-left: 5px;
    color: var(--white);
    font-size: 14px;
    padding: 6px 12px;
    background-color: var(--pink);
    border-radius: 30px;
}

/* form inputs GENERAL */
form input,
form textarea {
    outline: none;
}
form input::placeholder,
form textarea::placeholder {
    color: var(--gray1);
    font-weight: 300;
}

form textarea,
form input[type='text'],
form input[type='tel'],
form input[type='email'] {
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid var(--white);
    font-size: 16px;
}
form textarea:focus-visible,
form input[type='text']:focus-visible,
form input[type='tel']:focus-visible,
form input[type='email']:focus-visible {
    border: 2px solid var(--gray0);
}
form input.invalid,
form .dropdown-menu.invalid {
    border: 2px solid var(--pink) !important;
}

/* dropdown menu */
form .dropdown-menu {
    display: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 12px;
    border: 2px solid var(--white);
    background-color: var(--white);
    font-size: 16px;
    cursor: pointer;
    position: relative;
    user-select: none;
}
form .dropdown-select {
    width: 100%;
    height: 40px;
    padding: 8px;
    color: var(--gray1);
    font-weight: 300;
}
form .dropdown-items {
    display: none;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
    z-index: 50;
    background-color: var(--white);
    border-radius: 6px;
    outline: 2px solid var(--gray0);
    box-shadow: 0px 0px 10px 0px var(--gray0);
}
form .dropdown-items.select-show {
    display: block;
}
form .dropdown-items > div {
    padding: 8px;
    border-bottom: 1px solid var(--gray);
}
form .dropdown-items > div:first-child {
    font-weight: 600;
}
form .dropdown-items > div:last-child {
    border-bottom: none;
}

/* textarea */
form textarea {
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
}
form textarea::-webkit-scrollbar {
    width: 8px;
}
form textarea::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: default;
}

/* inputs RADIO, CHECKBOX */
form .radio {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
form .radio-box {
    display: flex;
}
form .radio-box > label {
    cursor: pointer;
}

form input[type='radio'],
form input[type='checkbox'] {
    appearance: none;
    border: 2px solid var(--white);
    background-color: var(--white);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 7px;
    cursor: pointer;
}
form input[type='radio']:checked,
form input[type='checkbox']:checked {
    border-color: var(--gray0);
    background-color: var(--pink);
}

/* submit button */
form input[type='submit'] {
    width: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    margin: 25px auto 0px auto;
    padding: 10px 18px;
}



/**********************************/
/************ SPECIFIC ************/
/**********************************/

/* two columns */
.form-flex {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}
.form-flex .flex-item {
    width: 100%;
}

/* HIDDEN SEMINAR-DATE INPUT */
#seminar-date {
    display: none;
}

/* ADRESS & CONTACT row gap */
/* TEXT FIELDSETS row gap */
form .adress-container > .adress,
form .contact-container > .contact,
form > fieldset.documents > div,
form > fieldset.validity > div,
form > fieldset.storno > div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* ACTION TYPE options in row */
form .action-type {
    flex-direction: row;
    column-gap: 20px;
}

/* EXPERIENCES - space between options and text area */
form .experiences {
    margin-bottom: 12px;
}

/* DOCUMENTS & STORNO DISPLAY */
form .documents,
form .storno {
    display: none;
}

/* HIDDEN BOT CHECKER */
form .bot-checker {
    display: none;
}



/**********************************/
/************** TEXTS *************/
/**********************************/

/* EXPERIENCES - comment under textarea */
.experiences-comment {
    margin-top: 2px;
    margin-bottom: -5px;
    font-size: 14px;
    font-weight: 300;
    color: var(--gray1);
    text-align: right;
}

/* OTHER DOCUMENTS - list */
form fieldset ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 17px;
    list-style: disc;
}










