/**********************************/
/************* HEADER *************/
/**********************************/

/* background */
header {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(180deg, var(--blackTrans), var(--blackTrans) 90%),
    radial-gradient(ellipse at top left, var(--blue), transparent 60%),
    radial-gradient(ellipse at top right, var(--pink), transparent 60%),
    radial-gradient(ellipse at 80% 40%, var(--orange), transparent 60%), 
    radial-gradient(ellipse at 30% 10%, var(--green), transparent 60%),
    radial-gradient(ellipse at center center, var(--yellow), transparent 60%); 
}
header > a {
    cursor: default;
}

/* logo img */
.logo-header {
    width: auto;
    height: 30vh;
    min-height: 200px;
    max-height: 300px;
    display: block;
    margin: 0px auto;
    padding-top: 40px;
}

/* motto */
.motto {
    margin-top: 40px;
    padding-bottom: 30px;
}



/**********************************/
/******* DESKTOP NAVIGATION *******/
/**********************************/

.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* background */
.glass-background {
    width: 100%;
    height: 45px;
    background-color: var(--blackTrans);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(12px);
    position: absolute;
}

/* navigation links */
nav {
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
nav > ul {
    display: flex;
    list-style: none;
}
nav > ul > li {
    width: auto;
    padding: 0px 10px; 
}
nav > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray1);
    border-bottom: 1px solid transparent;
    padding: 2px 0px;
    transition: 0.5s;
}

/* navigation active link */
.active {
    text-decoration: none;
    font-size: 14px;
    color: var(--white);
}
.summer-camp.active {
    border-bottom: 1px solid var(--green);
}
.weekend-seminars.active {
    border-bottom: 1px solid var(--blue);
}
.camp-leadership.active {
    border-bottom: 1px solid var(--purple);
}
.application.active {
    border-bottom: 1px solid var(--pink);
}
.payment-method.active {
    border-bottom: 1px solid var(--red);
}
.photogallery.active {
    border-bottom: 1px solid var(--orange);
}
.camp-rules.active {
    border-bottom: 1px solid var(--yellow);
}



/**********************************/
/******* MOBILE NAVIGATION ********/
/**********************************/

/* hamburger button */
.hamburger-button {
    width: 42px;
    height: 42px;
    background-color: var(--whiteTrans2);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 0px;
    padding: 10px 8px;
    display: none;
}

.bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bar-container > .bar {
    width: 26px;
    height: 4px;
    background-color: var(--black);
    transition: 0.5s;
    border-radius: 2px;
}

/* hamburger button CLICKED */
/* (added by JavaScript) */
.hamburger-clicked .bar:nth-child(1) {
    transform: translate(0, 9px) rotate(-45deg);
}
.hamburger-clicked .bar:nth-child(2) {
    opacity: 0;
}
.hamburger-clicked .bar:nth-child(3) {
    transform: translate(0, -9px) rotate(45deg);
}


