/* :HOVER FOR DESKTOP VERSION ONLY */
@media (hover: hover) {
    
    /**********************************/
    /************* GENERAL ************/
    /**********************************/

    /* buttons */
    button.green:hover,
    button.blue:hover,
    button.purple:hover,
    button.pink:hover,
    button.red:hover,
    button.orange:hover,
    button.yellow:hover,
    form input[type='submit']:hover {
        background-color: var(--white);
        color: var(--gray3);
    }


    /**********************************/
    /******* DESKTOP NAVIGATION *******/
    /**********************************/

    /* navigation links */
    nav > ul > li > a:hover {
        text-decoration: none;
        font-size: 14px;
        color: var(--white);
    }
    .summer-camp:hover {
        border-bottom: 1px solid var(--green);
    }
    .weekend-seminars:hover {
        border-bottom: 1px solid var(--blue);
    }
    .camp-leadership:hover {
        border-bottom: 1px solid var(--purple);
    }
    .application:hover {
        border-bottom: 1px solid var(--pink);
    }
    .payment-method:hover {
        border-bottom: 1px solid var(--red);
    }
    .photogallery:hover {
        border-bottom: 1px solid var(--orange);
    }
    .camp-rules:hover {
        border-bottom: 1px solid var(--yellow);
    }


    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/

    /* summer camp links */
    .leadership a:hover,
    .properties a:hover {
        color: var(--green);
    }


    /**********************************/
    /*********** APPLICATION **********/
    /**********************************/

    /* inputs RADIO */
    form input[type='radio']:hover {
        border-color: var(--gray0);
    }

    /* form links */
    form a:hover {
        color: var(--pink);
    }

    /* CUSTOM INPUT[type='date'] */
    form input[type='date']::-webkit-calendar-picker-indicator:hover {
        background-image: url('/img/icons/black/calendar.png');
        cursor: pointer;
    }


    /**********************************/
    /********* PAYMENT METHOD *********/
    /**********************************/

    /* account number */
    .account-number > .number:hover {
        color: var(--red);
        cursor: pointer;
    }


    /**********************************/
    /************* FOOTER *************/
    /**********************************/

    /* footer links */
    footer .text-box > div > ul > li > a:hover,
    footer .text-box p > a:hover {
        color: var(--whiteTrans2);
    }
}