/* X-LARGE container ≤ 1400px */
@media only screen and (max-width: 1400px) {

    /**********************************/
    /************* GLOBAL *************/
    /**********************************/

    /* MAIN CONTAINER */
    .container {
        width: 1140px;
    }


    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/

    /* CAMP SPECIALIZATION videos */
    .video > iframe {
        width: 360px;
    }
}





/* LARGE container ≤ 1200px */
@media only screen and (max-width: 1200px) {

    /**********************************/
    /************* GLOBAL *************/
    /**********************************/

    /* MAIN CONTAINER */
    .container {
        width: 960px;
    }


    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/

    /* CAMP SPECIALIZATION */
    .specialization {
        flex-direction: column;
        row-gap: 20px;
        width: 700px;
    }
    .specialization > div {
        padding: 20px 25px;
    }

    /* CAMP SPECIALIZATION videos */
    .video > iframe {
        width: 305px;
    }


    /**********************************/
    /************* FOOTER *************/
    /**********************************/

    /* footer sections */
    footer .container > img /* logo */ {
        display: none;
    }
}





/* MEDIUM container ≤ 992px */
@media only screen and (max-width: 992px) {

    /**********************************/
    /************* GLOBAL *************/
    /**********************************/

    /* MAIN CONTAINER */
    .container {
        width: 720px;
    }


    /**********************************/
    /************* HEADER *************/
    /**********************************/

    /* logo img */
    .logo-header {
        max-height: 250px;
    }


    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/
    
    /* BASIC INFO */
    .basic-info-flex {
        flex-direction: column;
        align-items: center;
    }
    .basic-info {
        text-align: left;
        row-gap: 20px;
        margin-bottom: 20px;
    }

    /* BASIC INFO texts */
    .date,
    .location,
    .price,
    .transport {
        justify-content: left;
    }
    .date > div,
    .location > div,
    .price > div,
    .transport > div {
        order: 2;
    }

    /* BASIC INFO map */
    .map {
        width: 450px;
    }

    /* CAMP SPECIALIZATION videos */
    .video-box {
        flex-direction: column;
        row-gap: 25px;
        align-items: center;
    }
    .video > iframe {
        width: 460px;
    }


    /**********************************/
    /*********** APPLICATION **********/
    /**********************************/
    form {
        width: 100%;
        margin: 0px auto 40px auto;
    }



    /*** ŘÁD TÁBORA ***/
    .rules {
        width: 100%;
        margin: 0px auto 40px auto;
    }

}





/* SMALL container ≤ 768px */
@media only screen and (max-width: 768px) {

    /**********************************/
    /************* GLOBAL *************/
    /**********************************/

    /* WHOLE PAGE */
    main {
        margin-top: 40px;
    }

    /* MAIN CONTAINER */
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* TEXT BOX */
    .text-box {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }


    /**********************************/
    /******* MOBILE NAVIGATION ********/
    /**********************************/

    /* hamburger button */
    .hamburger-button {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 200;
    }

    /* navigation */
    .navigation {
        display: block;
        position: absolute;
        width: 100%;
        height: 490px;
    }

    /* background */
    .glass-background {
        height: 490px;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    /* navigation links */
    nav {
        height: fit-content;
        width: 100%;
        align-items: start;
        justify-content: left;
        margin-top: 70px;
    }
    nav > ul {
        flex-direction: column;
        width: 100%;
    }
    nav > ul > li {
        padding: 0px;
        border-top: 1px solid var(--gray3);
    }
    nav > ul > li > a {
        font-size: 16px;
        padding: 20px 0px 20px 30px;
        width: 100%;
        display: inline-block;
        border-bottom: 1px transparent;
    }

    /* navigation active link */
    .navigation > nav > ul > li > a.active {
        border-bottom: 1px transparent;
    }
    .summer-camp.active {
        background-color: var(--greenTrans1);
    }
    .weekend-seminars.active {
        background-color: var(--blueTrans1);
    }
    .camp-leadership.active {
        background-color: var(--purpleTrans);
    }
    .application.active {
        background-color: var(--pinkTrans);
    }
    .payment-method.active {
        background-color: var(--redTrans);
    }
    .photogallery.active {
        background-color: var(--orangeTrans);
    }
    .camp-rules.active {
        background-color: var(--yellowTrans2);
    }


    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/

    /* CAMP SPECIALIZATION */
    .specialization > .text-box-item {
        flex-direction: column;
        row-gap: 20px;
        width: calc(100% - 60px);
    }



    /*** ZPŮSOB PLATBY ***/
    .payment-section {
        width: 100%;
    }


    /**********************************/
    /*********** APPLICATION **********/
    /**********************************/

    /* all in one column */
    .form-flex {
        flex-direction: column;
    }

    /* PARTICIPANT row gap */
    .form-flex.participant {
        row-gap: 10px;
    }

    /* inputs RADIO */
    form input[type='radio'] {
        border-color: var(--gray0);
    }


    /**********************************/
    /************* FOOTER *************/
    /**********************************/
    
    /* footer sections */
    footer .container {
        flex-direction: column;
        row-gap: 25px;
    }
    footer .container > .text-box-item {
        width: 100%;
    }
}





/* X-SMALL container ≤ 576px*/
@media only screen and (max-width: 576px) {

    /**********************************/
    /************* GLOBAL *************/
    /**********************************/

    /* GLOBAL TEXTS (main title) */
    .h1-hr {
        visibility: hidden;
    }
    

    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/

    /* GENERAL */
    /* iframe width */
    .map,
    .video > iframe {
        width: calc(100vw - 40px);
        height: auto;
    }

    /* BASIC INFO */
    .basic-info {
        text-align: left;
        row-gap: 30px;
        margin-bottom: 20px;
    }

    /* BASIC INFO texts */
    .date,
    .location,
    .price,
    .transport {
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }

    .price-text {
        width: 100%;
    }

    /* CAMP SPECIALIZATION */
    .specialization > .text-box-item {
        width: 100%;
    }  

    /* DAILY SCHEDULE table */
    .daily-schedule {
        margin: 20px;
    }
    .daily-schedule table td {
        padding-top: 7px;
        padding-bottom: 7px;
    }


    /**********************************/
    /*********** APPLICATION **********/
    /**********************************/

    /* ACTION TYPE options in column */
    form .action-type {
        flex-direction: column;
    }

    /* EXPERIENCES - comment under textarea */
    .experiences-comment {
        font-size: 12px;
    }
    

    /**********************************/
    /************* FOOTER *************/
    /**********************************/

    /* guitar heads img */
    .guitar-heads {
        height: 120px;
    }
}





/* XX-SMALL container < 350px*/
@media only screen and (max-width: 350px) {

    /**********************************/
    /************* GLOBAL *************/
    /**********************************/

    /* MAIN CONTAINER */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* GLOBAL TEXTS (main and secondary title) */
    .h1-hr,
    .h2-hr {
        display: none;
    }

    /* TEXT BOX */
    .text-box > .text-box-item {
        width: 100%;
    }


    /**********************************/
    /************* HEADER *************/
    /**********************************/

    /* logo img */
    .logo-header {
        padding-top: 80px;
    }


    /**********************************/
    /******** CAMP AND SEMINARS *******/
    /**********************************/

    /* GENERAL */
    /* iframe width */
    .map,
    .video > iframe {
        width: calc(100vw - 30px);
        height: auto;
    }

    /* DAILY SCHEDULE wrapper */
    .wrapper .note .spiral-part .spiral:nth-child(10),
    .wrapper .note .spiral-part .spiral:nth-child(11),
    .wrapper .note .spiral-part .spiral:nth-child(12) {
        display: none
    }


    /**********************************/
    /*********** APPLICATION **********/
    /**********************************/

    /* EXPERIENCES - comment under textarea */
    .experiences-comment {
        text-align: left;
    }
}