/**********************************/
/************* OBECNÉ *************/
/**********************************/

/* colors */
:root {
    --black: #151922;
    --blackTrans: rgba(21, 25, 34, 0.85);
    --gray: #f4f6f9;
    --gray0: #e1e5ec;
    --gray1: #c5ccd7;
    --gray2: #5e636c;
    --gray3: #30343a;
    --white: #ffffff;
    --whiteTrans1: rgba(255, 255, 255, 0.4);
    --whiteTrans2: rgba(255, 255, 255, 0.85);
    --green: #B1E949;
    --greenTrans1: rgba(177, 233, 73, 0.15);
    --greenTrans2: rgba(177, 233, 73, 0.30);
    --blue: #52E3E1;
    --blueTrans1: rgba(82, 227, 225, 0.15);
    --blueTrans2: rgba(82, 227, 225, 0.30);
    --purple: #A85DFD;
    --purpleTrans: rgba(168, 93, 253, 0.15);
    --pink: #F050AE;
    --pinkTrans: rgba(240, 80, 174, 0.15);
    --red: #F77976;
    --redTrans: rgba(247, 121, 118, 0.15);
    --orange: #FFBB33;
    --orangeTrans: rgba(255, 187, 51, 0.15);
    --yellow: #FDF148;
    --yellowTrans1: rgba(255, 249, 179, 0.03);
    --yellowTrans2: rgba(253, 241, 72, 0.15);
}

/* nastavení pro celou stránku */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
}

a,
button {
    -webkit-tap-highlight-color: transparent !important;
}
a:focus-visible,
button:focus-visible {
    outline: none;
}

/* šířka kotejneru */
.container {
    display: block;
    width: 1320px;
    margin: 0px auto;
}

/* písmo */
h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    display: inline-block;
}

h1,
h2 {
    color: var(--gray3);
    background-color: var(--white);
    display: inline-block;
    padding: 0px 15px;
}

h1 {
    font-weight: 800;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: var(--whiteTrans2);
    margin-top: 30px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.font-rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.bold {
    font-weight: 600;
}

.centered {
    text-align: center;
}

.main-title,
.secondary-title {
    text-align: center;
    margin-bottom: 25px;
}

hr {
    position: relative;
    z-index: -100;
    border-color: var(--gray0);
    border-width: 1.5px;
    border-style: solid;
    width: 100%;
    margin: 0px auto;
}

.h1-hr {
    bottom: 20.5px;
}

.h2-hr {
    bottom: 16px;
}

.h4-hr {
    border-width: 1px;
    margin: 3px 0px 10px 0px;
}

.small-text {
    font-size: 12px;
    margin-top: 2px;
    color: var(--gray2);
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.text-box ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-left: 17px;
    list-style: disc;
}



/* tlačítko */
button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray3);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    margin: 25px auto 0px auto;
    padding: 10px 18px;
}

button.green {
    background-color: var(--green);
    border: 3px solid var(--green);
}

button.blue {
    background-color: var(--blue);
    border: 3px solid var(--blue);
}

button.purple {
    background-color: var(--purple);
    border: 3px solid var(--purple);
}

button.pink {
    background-color: var(--pink);
    border: 3px solid var(--pink);
}

button.red {
    background-color: var(--red);
    border: 3px solid var(--red);
}

button.orange {
    background-color: var(--orange);
    border: 3px solid var(--orange);
}

button.yellow {
    background-color: var(--yellow);
    border: 3px solid var(--yellow);
}

/* barevné pozadí */
div.white {
    background-color: var(--whiteTrans1);
    box-shadow: inset 0px 0px 50px -25px var(--white);
}

div.green {
    background-color: var(--greenTrans1);
    box-shadow: inset 0px 0px 50px -35px var(--green);
}

div.blue {
    background-color: var(--blueTrans1);
    box-shadow: inset 0px 0px 50px -35px var(--blue);
}

div.purple {
    background-color: var(--purpleTrans);
    box-shadow: inset 0px 0px 50px -35px var(--purple);
}

div.pink {
    background-color: var(--pinkTrans);
    box-shadow: inset 0px 0px 50px -35px var(--pink);
}

div.red {
    background-color: var(--redTrans);
    box-shadow: inset 0px 0px 50px -35px var(--red);
}

div.orange {
    background-color: var(--orangeTrans);
    box-shadow: inset 0px 0px 50px -35px var(--orange);
}

div.yellow {
    background-color: var(--yellowTrans2);
    box-shadow: inset 0px 0px 50px -35px var(--yellow);
}



/**********************************/
/********** HLAVNÍ OBSAH **********/
/**********************************/

/* obecné */
main {
    margin-top: 85px;
}

section {
    padding-bottom: 60px;
}

section:last-child {
    padding-bottom: 40px;
}

.text-box {
    display: flex;
    column-gap: 25px;
    justify-content: center;
    margin-bottom: 25px;
}

.text-box > .text-box-item {
    border-radius: 10px;
    padding: 25px;
}

.display-none {
    display: none;
}







/*** DENNÍ HARMONOGRAM TÁBOR ***/
/* notýsek */


/* tabulka v notýsku */
.daily-schedule {
    margin: 25px;
}

.daily-schedule th {
    text-align: left;
}

.daily-schedule table tr {
    border-bottom: 1.5px solid var(--gray0);
    height: 30px;
}

.daily-schedule table td {
    text-align: left;
    padding: 0px 3px;
}

.daily-schedule table td:first-child {
    text-align: right;
}


/**********************************/
/******* VÍKENDOVÉ SEMINÁŘE *******/
/**********************************/

/*** VŠECHNY TERMÍNY ***/
.weekends.text-box {
    margin-bottom: 0;
}

.weekends-section {
    width: 240px;
    text-align: center;
}

.weekends-section hr {
    border-width: 1px;
    margin: 3px 0px 10px 0px;
}

.weekends-section table {
    width: 100%;
}

.weekends-section table tr {
    height: 25px;
}

.weekends-section table td {
    width: 50%;
}

.weekends-section table td:nth-child(1) {
    text-align: right;
    padding-right: 5px;
}

.weekends-section table td:nth-child(2) {
    text-align: left;
    padding-left: 5px;
}







/**********************************/
/********** ZPŮSOB PLATBY *********/
/**********************************/

.account-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.account-number > .number {
    font-size: 26px;
    font-weight: 600;
    margin: 2px 0px;
    transition: 0.5s;
}

.account-number > .copied {
    font-size: 14px;
    text-align: center;
    color: var(--gray2);
}

.payment {
    flex-direction: column;
    align-items: center;
}

.payment-section {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 700px;
    margin-bottom: 25px;
}

.payment-section h4 {
    margin-bottom: 4px;
}

.questions-text {
    text-align: center;
    padding: 0px !important;
}






/**********************************/
/*********** ŘÁD TÁBORA ***********/
/**********************************/

.rules {
    width: 950px;
    margin: 35px auto 40px auto;
}

.rules ol {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-left: 18px;
}

.rules ul {
    margin: 5px 0px 0px 23px;
}

.rules h4 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.rules-comment {
    margin: 30px 0px;
}